<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <style>
        .main{
            margin:auto;
            
        }
    </style>
</head>
<body>
    <h3>Select the webites where you want to go</h3>
    <div class = "main">
        <button>This is a button</button>
    </div>
</body>
</html>