<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A dance website</title>
  <link type = "text/css" rel="stylesheet" href="http://localhost:800/cssFiles/1.css">
</head>

<body>
  <div class="head">
    <ul>
      <li><a href="/">Home</a></li>
      <li>about</li>
      <li><a href = "Contact_Us">Contact Us</a></li>
      <li>Book Classes</li>
      <li>Register Now</li>
    </ul>
  </div>
  <div class = "Heading"><p style="margin: 22px;">Welcome to the Harry Dance acadmy</p></div>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="http://localhost:800/image/bg3.jpg" style="width:100%; height:40pc">
      <div class="text">Book free trial classes now</div>
    </div>

    <div class="mySlides fade">
      <img src="http://localhost:800/image/bg2.jpg" style="width:100%; height:40pc">
      <div class="text">With one of the best dance instructors</div>
    </div>

    <div class="mySlides fade">
      <img src="http://localhost:800/image/bg1.jpg" style="width:100%; height:40pc">
      <div class="text">Being provided with app the fascilities related to dance</div>
    </div>

  </div>
  <br>
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <div class="maincontent">
    <div class="class">
      <h1>Our Mission</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, tempore, maiores, provident culpa quia
        laudantium dolor fuga atque officiis quaerat consequatur. Excepturi iste doloremque enim nesciunt corrupti eos
        magnam inventore veritatis adipisci aliquid illo rerum corporis possimus quo sequi, eaque nulla assumenda
        molestias perspiciatis quos? Fugit laboriosam quasi perspiciatis provident, accusantium expedita minima, ipsum
        dignissimos, porro velit autem tempore incidunt illo.</p>
        <input type="button" value = "Know More" class = "Button">
    </div>
    <div class="class">
      <h1>Our sponsers</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, tempore, maiores, provident culpa quia
        laudantium dolor fuga atque officiis quaerat consequatur. Excepturi iste doloremque enim nesciunt corrupti eos
        magnam inventore veritatis adipisci aliquid illo rerum corporis possimus quo sequi, eaque nulla assumenda
        molestias perspiciatis quos? Fugit laboriosam quasi perspiciatis provident, accusantium expedita minima, ipsum
        dignissimos, porro velit autem tempore incidunt illo.
      </p>
      <input type="button" value = "Know More" class = "Button">
    </div>
  </div>
<div class="footer">
  <h2 style="text-align: center;">
    Our Sopnsers
  </h2>
  <div class = "sponsorfooter">
    <img src="http://localhost:800/sponsorimage/d1.webp" alt="">
    <img src="http://localhost:800/sponsorimage/logo1.jpg" alt="">
    <img src="http://localhost:800/sponsorimage/social1.png" alt="">
    <img src="http://localhost:800/sponsorimage/social3.jpg" alt="">
  </div>
</div>
</body>
<script src="http://localhost:800/cssFiles/1.js"></script>
</html>