doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="http://localhost:800/cssFiles/logo.css")
  body 
    div.navbar
      li <img src = "http://localhost:800/cssFiles/logo.png" style = "height:50px">
      li Home
      li Uploads
      li Trending pictures
      li Upload images
    .Search 
      <input class = "SearchBox" type="Search" placeholder="Search free high resoloution images" style = "width:100%; margin-right:0px;">
      <input class = "SearchBox" type="Button" value = "Search" style = "margin-left:0px">
    .content
      <div class="cl1" id = "Change"></div> 
    </div>
      
  <script src = "http://localhost:800/cssFiles/controller.js"></script>